.list-container {
	margin-bottom: 4rem;
	.table-container {
		margin: 1.5rem 4rem;

		@media (max-width: 800px) {
			margin: 1rem;
		}
		position: relative;
		.MuiTableContainer-root {
			background: #ffffff;
			box-shadow: 0px 0px 28px rgba(0, 25, 71, 0.05);
			border-radius: 12px;
		}
		.MuiTableCell-root {
			font-family: "Poppins", sans-serif;
			font-size: 1rem;
			@media (max-width: 500px) {
				font-size: 0.8rem;
			}
		}
		.MuiTableCell-head {
			font-weight: 600;
		}
		.MuiTableCell-body {
			.nirf_column {
				display: flex;
				align-items: center;
				width: 14rem;
				@media (max-width: 500px) {
					width: 12rem;
				}
				justify-content: center;
				.nirf_label {
					padding: 1px 5px;
					color: #6096fc;
					margin-left: 0;
				}
				.nirf-year-change {
					min-width: 2.5rem;
					min-height: 2.5rem;
				}
			}
		}
		.insitute_head {
			background-color: #f5f8ff;
		}
		
		.filters {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: 0.5rem auto;
			flex-wrap: wrap;
			&.between {
				justify-content: space-between;

				.heading {
					margin: 0 auto;
					text-align: center;
				}
			}
			.searchBarContainer{
				display: flex;
			}
			.choice-button {
				background: #f0f4fb;
				border-radius: 8px;
				padding: 0.5rem 1rem;
				color: #6096fc;
				width: fit-content;
				font-family: "Poppins";
				font-weight: 400;
				margin-right: 1rem;
				margin-bottom: 0.5rem;
				@media (max-width: 500px) {
					font-size: 0.5rem;
				}
				&:hover {
					background-color: rgba(96, 150, 252, 0.04);
				}
				&.icon {
					padding: 0.2rem 0.5rem;
					border-radius: 8px;
					font-size: 1.7rem;
					background-color: transparent;
					@media (max-width: 500px) {
						font-size: 1.5rem;
					}
				}
				&.add-choice {
					background: #6096fc;
					color: white;
				}
				&.Mui-disabled {
					background-color: #6097fc77;
				}
			}
			.chips-and-button {
				display: flex;
				flex-direction: column;
			}
			@media (max-width: 600px) {
				flex-direction: column;
				align-items: flex-start;
				&.choices {
					flex-direction: row;
					align-items: center;
				}
			}
		}
		.prediction-table-container {
			position: relative;
			max-height: 90vh;
			scrollbar-color: #e8efff white;
			.prediction-table-head {
				position: sticky;
				z-index: 2;
				top: 0;
			}
			.branch-cell {
				position: sticky;
				left: 0;
				z-index: 1;
				background-color: white;
			}
		}
		.prediction {
			.rank {
				font-size: 1rem;
				font-weight: 500;
				@media (max-width: 500px) {
					font-size: 0.8rem;
				}
			}
			.green {
				background-color: #4bcf6f;
			}
			.yellow {
				background-color: #fbbc05;
			}
			.orange {
				background-color: #f27844;
			}
			.red {
				background-color: #f95656;
			}
			.MuiTableCell-root:not(.branch-cell) {
				border: 1px solid #e1e5f0;
			}
		}
	}
	.extra-container {
		margin: 2rem 5rem;
		.tabs-container {
			display: flex;
			justify-content: space-between;
		}
		@media (max-width: 800px) {
			margin: 2rem;
		}
		@media (max-width: 600px) {
			.MuiTabs-scrollButtons {
				display: flex;
			}
		}
		.tab {
			font-family: "Poppins";
			font-weight: 500;
			font-size: 0.9rem;
			color: #8e9cb6;
			&.increase {
				position: absolute;
				right: 0;
			}
			&.increase-tab {
				display: none;
				@media (max-width: 600px) {
					display: block;
				}
			}
		}
		.increase-tab-button {
			font-family: "Poppins";
			font-weight: 500;
			font-size: 0.9rem;
			color: #8e9cb6;
			display: block;
			@media (max-width: 600px) {
				display: none;
			}
			&:hover {
				background-color: transparent;
			}
			&.selected {
				color: #002942;
				border-bottom: 2px solid #002942;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		.Mui-selected {
			color: #002942;
		}
		.MuiTabs-indicator {
			background-color: #002942;
		}
	}
	.header-cell{
		display: flex;
		justify-content: space-between;
	}
}

div::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ffffff;
}
div::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	top: 0;
}
div::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #e8efff;
}
