.list-container {
	.table-container {
		margin: 2rem 5rem;
		position: relative;
		.MuiTableCell-root {
			font-family: "Poppins", sans-serif;
			font-size: 1rem;
		}
		.MuiTableCell-head {
			font-weight: 600;
		}
		.MuiTableCell-body {
			&.nirf_column {
				display: flex;
				align-items: center;
				.nirf_label {
					background-color: #6096fc;
					padding: 1px 5px;
					border-radius: 4px;
					margin: auto 0.5rem;
					width: fit-content;
					color: #ffffff;
					margin-left: 0;
				}
			}
		}
		.insitute_head {
			background-color: #f5f8ff;
		}
		.filters {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			&.between {
				justify-content: space-between;
			}
			.choice-button {
				background-color: #ffffff;
				margin: 1rem 0rem;
				margin-right: 1rem;
				&:hover {
					background-color: rgba(96, 150, 252, 0.04);
				}
				&.icon {
					padding: 0.2rem 0.5rem;
					border-radius: 8px;
				}
			}
		}
		.prediction {
			.rank {
				font-size: 1rem;
				font-weight: 500;
			}
			.green {
				background-color: #07d507;
			}
			.yellow {
				background-color: yellow;
			}
			.orange {
				background-color: orange;
			}
			.red {
				background-color: red;
			}
		}
	}
	.extra-container {
		margin: 2rem 5rem;
	}
}
