.list-container{
    .table-container{
        margin: 2rem 5rem;
        position: relative;
        .MuiTableCell-root{
            font-family: "Poppins", sans-serif;
        }
        .MuiTableCell-head{
            font-weight: 600;
        }
        .filters{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &.between{
                justify-content: space-between;
            }
        }
    }
    .extra-container{
        margin: 2rem 5rem;
    }
}