.how-to-use {
	.MuiDialogTitle-root {
		// font-family: "Poppins";
		color: #002942;
		margin: 0 2rem;
		font-size: 1.5rem;
		display: flex;
		justify-content: space-between;
		@media (max-width: 600px) {
			padding-left: 0;
			padding-right: 0;
			margin: 0 1rem;
		}
	}
	.MuiDialogContent-root {
		background: #fbfcff;
		border-radius: 12px;
		padding: 0;
		margin: 1rem 2rem;
		margin-top: 0;
		ul {
			margin: 0;
		}
		li {
			font-weight: 400;
			font-size: 1rem;
			line-height: 2rem;
			color: #002942;

			.color-code {
				padding: 0.1rem 0.5rem;
				border-radius: 8px;
			}
		}
		@media (max-width: 600px) {
			margin: 0rem 1rem;
			padding-top: 1rem !important;
			padding-bottom: 1rem;
			ul {
				padding-inline-start: 1.5rem;
			}
		}
	}
}
