.how-to-use {
	.MuiDialogTitle-root {
		// font-family: "Poppins";
		color: #002942;
		margin: 0 2rem;
		font-size: 1.5rem;
	}
	.MuiDialogContent-root {
		background: #fbfcff;
		border-radius: 12px;
		padding: 0;
		margin: 1rem 2rem;
		margin-top: 0;
		ul {
			margin: 0;
		}
		li {
			font-weight: 400;
			font-size: 1rem;
			line-height: 2rem;
			color: #002942;
		}
	}
}
