.form-dialog-container {
	

	.form-title {
		// display: flex;
		// align-items: center;
		color: #002942;
		font-weight: 600;
		margin: 0.1rem;
		max-width: 31rem;
		.prediction-type {
			background: #fbfcff;
			border: 2px solid #eff2fa;
			border-radius: 8px;
			max-height: 2rem;
			margin: auto 0.4rem;
			.MuiSelect-select {
				color: #002942;
				font-weight: 400;
				font-family: "Poppins";
			}
			fieldset {
				border: none;
			}
		}
		.MuiChip-root {
			color: #ffffff;
			border: 1px solid #6096fc;
			padding: 1rem 0.5rem;
			border-radius: 8px;
			background: #6096fc;
			margin:0.2rem  0.2rem;
			font-size: 0.8rem;
			width: 15rem;
	
			&.MuiChip-outlined {
				color:#6096fc;
				background: #F0F4FB;
			}
		}
		@media (max-width: 500px) {
			padding: 1rem;
			font-size: 1rem;
			flex-direction: column;
			align-items: flex-start;
			padding-bottom: 0.5rem;
			.prediction-type {
				margin-left: 0;
				width: 100%;
				.MuiSelect-select {
					font-size: 1rem;
				}
			}
		}
	}
}
hr {
	display: none;
	@media (max-width: 500px) {
		display: block;
	}
}
.form-container {
	display: flex;
	flex-direction: column;
	// justify-content: flex-start;
	// flex-wrap: wrap;
	margin: 0.5rem 1rem;
	padding: 0 0.5rem !important;
	overflow-x: hidden;
	.form-dialog {
		
		flex-basis: 100%;
		margin: 0.3rem 0.2rem;
		min-width: 12rem;
		max-width: 100%;
		@media (max-width: 520px) {
			min-width: 90%;
		}
		.MuiInputBase-root {
			max-height: 3.2rem;
		}
		.MuiFilledInput-root {
			background-color: #fbfcff;
			border: 2px solid #eff2fa;
			border-radius: 8px;
			&::before {
				display: none;
			}
			&:hover {
				background-color: #fbfcff;
			}
		}
		.Mui-focused {
			background-color: #fbfcff !important;
		}
		.MuiInputLabel-root {
			color: #002942;
			font-family: "Poppins", sans-serif;
			font-weight: 300;
			font-size: 0.8rem;
		}
		.Mui-disabled {
			background-color: #ffffff;
			color: rgba(0, 0, 0, 0.38);
		}
	}
}

.MuiDialogTitle-root {
	font-family: "Poppins", sans-serif !important;
}

.branch-list-form {
	display: flex !important;
	// justify-content: space-between !important;
	align-items: center !important;
	flex-wrap: wrap;
	.not-offered-branch {
		align-self: flex-end;
		font-size: 0.7rem;
	}
}
