.clickable-chip-container {
	// margin: 0.5rem;
	.MuiChip-root {
		color: #6096fc;
		border: 1px solid #6096fc;
		padding: 1rem 0.5rem;
		border-radius: 135px;
		background: #d4e3ff;

		&.MuiChip-outlined {
			background: #ffffff;
		}
	}
	@media (max-width: 700px) and (min-width: 600px) {
		margin: 0.5rem 0.1rem;
		.MuiChip-root {
			margin-left: 0.15rem;
			padding: 1rem 0.3rem;
		}
	}
	@media (max-width: 400px) {
		margin: 0.5rem 0.2rem;
		.MuiChip-root {
			margin-left: 0.2rem;
			padding: 1rem 0.2rem;
		}
	}
}
