.navbar-container {
	display: flex;
	justify-content: space-between;
	padding: 0.2rem;
	position: sticky;
	background-color: #fbfcff;
	top: 0;
	z-index: 3;
	box-shadow: none;
	transition: all 0.5s;
	.go-back {
		text-decoration: none;
	}
	.content {
		display: flex;
		align-items: center;
		margin: auto 2rem;
		.element {
			margin: 0.2rem 0.5em;
			font-family: "Poppins", sans-serif;
			font-weight: 500;
		}
		.title {
			font-weight: 600;
			font-size: 2rem;
			color: black;
			text-decoration: none;
		}
	}
	&.shadow {
		box-shadow: 4px 0px 19px rgba(0, 60, 173, 0.15);
	}
}

@media (max-width: 600px) {
	.navbar-container {
		.content {
			margin: auto 0.7rem;
			.element {
				font-size: 0.5rem;
				&.logo {
					width: 2rem;
					height: 2rem;
				}
			}
			.title {
				font-size: 1rem;
			}
		}
	}
}
