.header-container {
	background-color: #6096fc;
	.header-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto 4rem;
		height: 8.5rem;
		@media (max-width: 800px) {
			margin: 2rem;
		}
		.MuiTypography-root {
			width: fit-content;
			// padding-top: 3rem;
			color: #ffffff;
			margin-right: 1rem;
			font-family: "Poppins", sans-serif;
			@media (max-width: 500px) {
				font-size: 1.5rem;
			}
		}
		.label {
			color: #e2e2e2;
			font-weight: 500;
			font-size: 1rem;
			// padding-top: 1rem;
			// padding-bottom: 3rem;
			@media (max-width: 500px) {
				font-size: 0.8rem;
			}
		}
		.MuiCircularProgress-root {
			width: 10px !important;
			height: 10px !important;
		}
	}
}
