.search-container{
    text-align: end;
    .MuiOutlinedInput-input{
        padding: 0.5rem 0;
        padding-right: 0.5rem;
    }
    .MuiInputLabel-root{
        z-index: 1;
    }
    .MuiInputBase-root{
        background-color: #ffffff;
    }
}